.secondary-menu span {
  color: #FFFFFF;
  font-weight: normal;
  padding: 5px 20px;
  display: block;
}

.common-admin-menu {
  margin-bottom: 10px;
}
.common-admin-menu .primary-tabs {
  margin-top: 0;
  height: auto;
}

.common-add-node {
  background: #4E4E4E url(../../rubik/images/bleeds.png) no-repeat 50% 0;
  border-radius: 5px;
  border-right: 5px none;
  display: block;
  float: left;
  height: 25px;
  padding: 7px 10px 5px;
  margin: 0 10px 5px 0;
}

.common-admin-menu .primary-tabs li.active-trail {
  background-color: #77BBCC;
}

.common-admin-menu  .primary-tabs li.active-trail a {
  color: #FFFFFF;
  text-shadow: 0 1px 0 #3388AA;
}

.common-admin-menu-level-1 {
  padding-top: 15px;
}

table input.fluid { width:100%; }

/* filter region */
.view-filters .views-exposed-widgets .views-exposed-widget {
  height: 65px;
}
.view-filters .views-exposed-widgets .views-exposed-widget input.fluid {
  width: auto;
}

#fr3-admin-main-wrapper {

}
.fr3-asset-wrapper {
  float: left;
  padding-top: 8px;
  margin-right: 10px;
}
.fr3-asset-wrapper .contextual-links-region {
  padding-left: 8px;
}
.fr3-admin-menu-title {
  padding: 25px 0 0 0;
}
.fr3-admin-menu-title h2 {
  font-size: 16px;
  line-height: 120%;
}
.fr3-admin-menu-content {
  float: left;
}
.fr3-enddiv {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

.views-exposed-form .clearfix.exposeddates {
  float: left;
}


/* admin theme */
.common-add-node {
  background: #4E4E4E;
  padding: 0 35px;
  height: 40px;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 40px;
}

.views-exposed-form {
  border: 1px solid #DDDDDD;
  background: #EBEBEB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0 20px 0;
  padding: 0 20px 10px 20px;
}
.views-exposed-form h3 {
  padding: 13px 0 6px 0;
  font-size: 18px;
  line-height: 120%;
}
.views-exposed-form h3 i {
  font-size: 12px;
  line-height: 120%;
}
.views-exposed-form .exposeddates .form-item .form-item,
.views-widget-filter-field_poll_date_value .form-item .form-item,
.views-widget-filter-field_poll_date_value .form-item .form-item,
.form-type-date-popup .form-item {
  margin: 0;
  padding: 9px;
}
.form-type-date-popup .form-item input {
  margin-right: 0px;
}
.views-exposed-form .views-exposed-widget input.form-submit {
/*  background: #3D8AC5;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  margin-top: 30px;

/*  font-size: 16px;
  color: #FFFFFF;*/
}

input.teaser-button, input.form-submit {
  /*font-size: 1.5em;*/
}
.common-admin-menu-level-1 {
  background: #CACBC3;
  margin: 0 -30px;
  font-family: Arial, "Lucida", "Lucida Grande", "Trebuchet MS", Tahoma, Verdana, sans-serif;
}
.common-admin-menu-level-1 ul.primary-tabs {
  margin: 0 10px;
}
.common-admin-menu-level-1 ul.primary-tabs li {
  background: #4E4E4E;
  height: auto;
  margin: 0 2px;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.common-admin-menu-level-1 ul.primary-tabs li:hover,
.common-admin-menu-level-1 ul.primary-tabs li.active,
.common-admin-menu-level-1 ul.primary-tabs li.active-trail {
  background: #FFFFFF;

}
.common-admin-menu-level-1 a,
.common-admin-menu-level-1 a.active,
.common-admin-menu-level-1 a.active-trail {
  padding: 5px 8px 4px 8px;
  font-size: 13px;
  font-weight: bold;
  color: #FFF;
  text-shadow: none;
}
.common-admin-menu-level-1 ul.primary-tabs li:hover a,
.common-admin-menu-level-1 ul.primary-tabs li.active a,
.common-admin-menu-level-1 ul.primary-tabs li.active-trail a {
  color: #000000;
  text-shadow: none;
}

.common-admin-menu-level-2 {
  font-family: Arial, "Lucida", "Lucida Grande", "Trebuchet MS", Tahoma, Verdana, sans-serif;
}
/*.common-admin-menu-level-2 ul.primary-tabs {
  margin: 0 10px;
}
.common-admin-menu-level-2 ul.primary-tabs li {
  border: 1px solid #C6E2F7;
  background: #C6E2F7;
  height: auto;
  margin: 0 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.common-admin-menu-level-2 ul.primary-tabs li:hover,
.common-admin-menu-level-2 ul.primary-tabs li.active,
.common-admin-menu-level-2 ul.primary-tabs li.active-trail {
  background: #FFFFFF;

}*/
.common-admin-menu-level-2 a,
.common-admin-menu-level-2 a.active,
.common-admin-menu-level-2 a.active-trail {
  text-shadow: none;
}
/*.common-admin-menu-level-2 ul.primary-tabs li:hover a,
.common-admin-menu-level-2 ul.primary-tabs li.active a,
.common-admin-menu-level-2 ul.primary-tabs li.active-trail a {
  color: #000000;
  text-shadow: none;
}*/
.common-admin-menu-level-2 ul.primary-tabs li:hover,
.common-admin-menu-level-2 ul.primary-tabs li.active,
.common-admin-menu-level-2 ul.primary-tabs li.active-trail {
  background: #C6E2F7;
}
.common-admin-menu-level-2 ul.primary-tabs li:hover a,
.common-admin-menu-level-2 ul.primary-tabs li.active a,
.common-admin-menu-level-2 ul.primary-tabs li.active-trail a {
  color: #000000;
  text-shadow: none;
}

.views-table th {
  background: #EBEBEB;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-shadow: none;
}
.views-table th a {
  color: #000000;
}
.views-table td a {
  color: #014a82;
}

#site-logo {
  background: #cacbc3;
  clear: both;
  overflow: hidden;
  padding: 10px 20px 10px 20px;
}
#logo {
  float: left;
}
#site-logo h1 {
  float: left;
  margin: 0;
  padding: 20px 0 0 20px;

  font-size: 30px;
  line-height: 120%;
  color: #FFFFFF;
}

.cke_skin_kama .cke_button .cke_button_assetSearch,
.cke_skin_kama .cke_button .cke_button_assetSearch .cke_icon,
.cke_skin_kama .cke_button .cke_button_assetSearch .cke_label {
  float: left;
}
.cke_skin_kama .cke_button .cke_button_assetSearch .cke_label {
  display: block;
}
.cke_skin_kama .cke_dialog_contents {
  overflow-y: hidden !important;
}

.ckeditor_links, .dialog-links {
  border: 1px solid #DDDDDD;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  margin-bottom: 10px;
  padding: 1px 10px 2px 10px;
  position: relative;
  top: -9px;
}
.dialog-links {
  padding-top: 2px;
}
.page-content table .form-item.form-type-textfield {
  padding-bottom: 15px;
}
#autocomplete {
  background: #FFFFFF;
}
html.js input.form-autocomplete.throbbing {
  background-position: 100% 0;
}

/* dashboard message block */
#dashboard-dm-message {
  position: relative;
  text-align: center;
  min-height: 70px;
  font-family: Verdana, Arial, "Lucida", "Lucida Grande", "Trebuchet MS", Tahoma, sans-serif;
  padding-top: 60px;
  padding-bottom: 10px;
}
.block-dm-user-name {
  display: inline-block;
  background: #4E4E4E;
  border-radius: 5px;
  margin: 6px 30px 0 30px;
  padding: 5px 10px;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
}
.block-dm-buttons {
  position: absolute;
  right: 50px;
  top: 0;
  font-size: 16px;
  line-height: 120%;
  color: #3785C5;
  text-align: left;
}
.block-dm-buttons .button-tuto {
  background: url(../images/aid.png) no-repeat 0 0;
  display: block;
  float: left;
  padding: 0 0 0 60px;
  min-height: 53px;
  line-height: 50px;
  color: #3785C5;
  text-decoration: none;
}
.block-dm-buttons .button-question {
  background: url(../images/contact.png) no-repeat 0 0;
  display: block;
  float: left;
  margin-top: 2px;
  margin-left: 25px;
  padding: 6px 0 0 55px;
  min-height: 44px;
  color: #3785C5;
  text-decoration: none;
}
.block-dm-buttons .button-question span {
  display: block;
  font-size: 11px;
}

.tags-export-link {
  float: right;
  font-size: 12px;
}

#edit-field-tag-minor .form-item {
  margin: 0;
}

.block-dm-buttons .button-tags {
  background: url(../images/tags-picto.png) no-repeat 0 0;
  display: block;
  float: left;
  margin-top: 2px;
  margin-left: 25px;
  padding: 6px 0 0 70px;
  min-height: 44px;
  color: #3785C5;
  text-decoration: none;
}
.block-dm-buttons .button-tags span {
  display: block;
  font-size: 11px;
}

.form-item .counter {
  font-size: 12px;
}

.used-assets {
  margin-bottom: 10px;
}

.form-item .counter.error,
.form-item .counter.warning {
  color: #787878;
}

.form-item .counter {
  color: #ABA9A9;
  font-size: 13px;
}

#admin-menu {
  margin: 0 0 0 0px;
}

div.filter-help {
  display: none;
}

div.limiter h1.page-title {
  max-width: 1000px;
}

.form-item .field-label label {
	padding: 0  9px;
}

.collapsible .fieldset-legend span.icon {
	background-position: -20px -120px;
}
html.js .collapsed .fieldset-legend span.icon {
	background-position: 0 -120px;
}

.view-id-dashboard_medialibrary table td.views-field {
  padding-left: 15px;
  padding-right: 15px;
}

form .form-actions.inviewport {
  position: fixed;
  z-index: 100;
  top: 60px;
  width: 315;
}

form .status-bar.inviewport {
  width: 326px;
  position: fixed;
  z-index: 100;
  top: 8px;
}

div.group-contextualisation  .fieldset-legend {
  display: none;
}

.asset-tooltip {
  margin-right: 20px;
  display: inline-block;
}

.asset-tooltip img {
  width: 100px;
}

div.view-dashboard-medialibrary td.views-field-title {
  width: 30%;
}

.field-type-entityreference .dialog-links {
  top: 0px;
}

div.jcrop-preview-wrapper {
  margin-bottom: 15px;
  border: 2px gray solid;
}

div.cropbox-description span {
  color: #999;
}

div.imagefield-crop-widget {
  margin-bottom: 15px;
}

div.imagefield-crop-preview {
  margin-top: 15px;
}

th.hidden-position-th {
  display: none;
}

div.cropbox-description {
  display: none;
  margin-bottom: 10px;
}

.image-preview-label {
  color: #999;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0 15px 0;
}

.imagefield-crop-widget span.file {
  min-width: 180px;
  display: block;
  float: left;
  margin-top: 2px;
}

#page-title div.tabs {
  position: relative;
  float: right;
}

table span.vignete-header {
  padding-left: 35px;
}

form div.status-bar div {
  min-height: 30px;
}

form div.status-bar label {
  font-size: 11px;
}

form div.status-bar.published div {
  background: #B0E6B0;
}

form div.status-bar.unpublished div {
  background: #FF6347;
}

form div.status-bar.clock div {
  background: #FFB377;
}

form div.status-bar img {
  float: left;
}

form div.status-bar label{
  color: white;
  float: left;
  margin-top: 6px;
  margin-left: 6px;
}

/*adminarea fix*/
*+html textarea.form-textarea {
  padding-left: 0;
  padding-right: 0;
}

*+html fieldset legend {
  margin-left: -7px;
}

*+html .page-references-dialog .show-preview-element {
  margin-top: -8px;
  margin-left: -15px;
}

*+html .fieldset {
  border-top: none;
  border-top-width: 0;
}

.title-td {
  max-width: 374px;
}

.block, .item-list, .help-items ul, .form-item, .confirmation ul, .admin-list, .node-type-list, .admin-panel {
  border-color: #B8BABA;
}

input.form-autocomplete, input.form-text, textarea.form-textarea, select.form-select {
  border-color: #CACCCC;
}

.form-item label {
  color: #7D7D7D;
  font-size: 12px;
}

.form-item label.option {
  font-size: 12px;
}

table {
  border-color: #B8BABA;
}

table td, table th {
  border-color: #B8BABA;
}

.vertical-tabs {
  border-color: #B8BABA;
}

div#admin-dashboard-link {
  top: 0px;
  left: 0px;
  position:fixed;
  bottom:0px;
}

.admin-menu div#admin-dashboard-link {
  top: 30px;
}

div#admin-dashboard-link span.admin-dashboard-link {
  background:url("../images/sprite.png") 0px 0px no-repeat;
  display: block;
  width: 35px;
  height: 35px;
}

*+html .cke_button {
  zoom: 1;
}

.view-common-assets-library .view-header {
  height: 16px;
}

#edit-comment-settings {
  display: none;
}

#autosave-status span#operations a.use-ajax.ajax-processed {
  margin-left: 0px;
}

#edit-field-article-media, #edit-field-article-main-media {
  border: 1px solid;
  border-color: #DDD;
  margin: 0 0 10px;
  padding: 10px;
}

#article-node-form .views-table .views-field-title {
  width: 45%;
}

#article-node-form .views-table .views-field-type {
  width: 15%;
}

#article-node-form .views-table .views-field-field-asset-image,
#article-node-form .views-table .views-field-field-asset-video {
  width: 20%;
}

#article-node-form .views-table .views-field-edit-asset,
#article-node-form .views-table .views-field-delete-asset {
  width: 10%;
}

#edit-field-asset-video {
  margin-top: 10px;
}

form#feed-item-node-form.node-form div.column-side div.column-wrapper div.form-actions.inviewport {
  width: 306px;
}

form#feed-node-form.node-form div.column-side div.column-wrapper div.form-actions.inviewport {
  width: 306px;
}

td.views-field-field-signature {
  min-width: 130px;
}

.node-poll-form .vertical-tabs {
  display: none;
}

div.hide {
  display: none;
}

.cke_skin_kama .cke_button .cke_button_le_pagebreak .cke_icon {
  background-position: 0px -673px;
}
.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .visible legend {
  display: block;
}

form .jcrop-holder {
  margin-top: 21px;
  margin-left: 15px;
}